<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imcode.sys.mapper.RoleResourceMapper">

    <select id="selectByRoleId" parameterType="java.lang.Integer"
            resultType="com.imcode.sys.entity.RoleResource">
        SELECT
           t1.name,
           t1.resource_id,
           t1.parent_id,
           t2.role_id
        FROM
          sys_resource t1
        LEFT JOIN sys_role_resource t2 ON t1.resource_id = t2.resource_id
        AND t2.role_id = #{roleId}
    </select>

</mapper>
