<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imcode.sys.mapper.UserMapper">


    <select id="selectUserRoleNameSet" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT
            DISTINCT t2.name
        FROM
            sys_user_role t1,sys_role t2
        WHERE
            t2.role_id = t1.role_id
        AND
            t1.user_id = #{userId}
    </select>


    <select id="selectUserPermissionNameSet" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT
          DISTINCT t1.permission
        FROM
          sys_resource t1,
          sys_role_resource t2,
          sys_user_role t3
        WHERE
          t1.permission IS NOT NULL
        AND
            t1.resource_id = t2.resource_id
        AND
            t2.role_id = t3.role_id
        AND t3.user_id = #{userId}
    </select>

    <select id="selectMenuList" resultType="com.imcode.sys.entity.Menu" parameterType="java.lang.Integer">
        SELECT
          t1.resource_id,
          t1.parent_id,
          t1.name,
          t1.url,
          t1.icon
        FROM
            sys_resource t1,
            sys_role_resource t2,
            sys_user_role t3
        WHERE
            t1.resource_id = t2.resource_id
        AND t2.role_id = t3.role_id
        AND t1.type != 2
        AND t3.user_id = #{userId}
        ORDER BY order_num ASC
    </select>

</mapper>
